<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <header>
        <div id="hat">
            <a href="/">MKPedik</a>

            <img style="width: 33px; height: 43px;" src={{url_for('static', filename='mailbox.png')}} onclick="window.location.href = '/messages/inbox'"></img>

            {% if g.user %}
                <a href="/users/getme">{{g.user["username"]}}</a>
                <a href="/auth/logout">Выход</a>
            {% else %}
                <a href="/auth/register">Регистрация</a>
                <a href="/auth/login">Вход</a>
            {% endif %}
        </div>

        {% block header %}{% endblock %}
    </header>

    <body>
        {% block content %}{% endblock %}
    </body>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>

<script>
    {% block script %}{% endblock %}
</script>
