{% extends "base.html" %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<header>
    {% block header %}
        {% block title %}"Главная"{% endblock %}
    {% endblock %}
</header>

<body>
{% block content %}
        <h2>МКПедия.</h2>
        <h3>На данный момент написано {{article_count}} статья/и/ей. Регистрируйтесь и вносите свой вклад!</h3>
        <h4>Важные ссылки</h4>
        <p><a href="/articles/getlist">Список статей</a></p>

        <p><a href="/articles/constructor_file">Конструктор статей (файловый режим)</a></p>
        <p><a href="/articles/constructor">Конструктор статей (встроенный редактор)</a></p>

        <p><a href="/auth/register">Регистрация</a></p>
        <p><a href="/auth/login">Вход</a></p>

        <p><a href="/users/getlist">Список пользователей</a></p>

        <p><a href="/uploader/upload">Загрузка файлов (для создателей статей)</a></p>

        {% if g.user and g.user["admin"] %}
            <p><a href="/admin/panel">Админ-панель</a></p>
        {% endif %}
    {% endblock %}
</body>
