{% extends "base.html" %}

{% block head %}
    {% block title %}Админ-панель{% endblock %}
{% endblock %}

{% block content %}
    <script>
        function reject(username) {
            window.location.replace("/admin/reject?username=" + username);
        }

        function accept(username) {
            window.location.replace("/admin/accept?username=" + username);
        }
    </script>

    {% if is_root %}
        <form method="post">
            <label for="new_password">Перезадать пароль для root</label>
            <input name="new_password" id="root_pwd">
            <button type="submit">Поменять</button>
        </form>
    {% endif %}

    <h2>Очередь на вступление</h2>

    <div class="queue-actions">
        {% for user in queue %}
            <h3>Пользователь {{user["username"]}}</h3>
            <button class="accept" onclick="accept('{{user["username"]}}')">Принять</button>
            <button class="reject" onclick="reject('{{user["username"]}}')">Отклонить</button>  
        {% endfor %}
    </div>
{% endblock %}
